* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }

body {
    background-color: var(--black);
    color: var(--white);
    font-size: 1.8rem;
    margin: 5rem 5rem;
    font-family:monospace;
  }

nav {
    width: 100%;
    height:10%;
    color: var(--white);
    background: rgb(0, 61, 80);
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex; 
    justify-content: center; 
    align-items:center;
}

main {
    margin-top: 10rem;
    text-align: center;
}

main img {
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    border-radius: 4%;
}